@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --font: "Raleway", sans-serif;
    --font-color: #464646;
    --bg-color-primaria: #F5F5F5;
    --bg-color-secundaria: #EFE5E5;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* aqui está separado os elementos gerais do código com valores que foram dados sem que precisem ter uma classe */

body{
    background-color: var(--bg-color-primaria);
    font-family: var(--font);
    color: var(--font-color);
}

section{
    padding: 32px 152px 0 152px;
}

a{
    text-decoration: none;
    color: var(--font-color);
    font-size: 16px;
}

ul{
    list-style-type: none;
}

/* Sessão do menu */

.menu{
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
}

.menu__nome{
    display: flex;
    align-items: center;
    gap: 5px;
}

.menu__nav__links{
    display: flex;
    gap: 32px;
}


.apresentacao{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*
.apresentacao__textos{

} */

.apresentacao__links{
    display: flex;
    gap: 32px;
}

.apresentacao__links img{
    margin-left: 5px;
}


.apresentacao__texto__titulo{
    font-size: 55px;
}

.apresentacao__texto__paragrafo{
    margin: 24px 0 24px 0;
    font-size: 25px;
    width: 90%;
}

.apresentacao__foto{
    border-radius: 50%;
    width: 368px;
    height: 368px;
}

/* Sessão sobre mim */

.sobreMim{
    margin-top: 2%;
    padding: 32px 152px 32px 152px;
    background-color: var(--bg-color-secundaria);
}


.sobreMim__img{
    margin-top: 1%;
}

.sobreMim__text h2{
    font-size: 2rem;
}

.sobreMim__text p{
    margin-top: 1%;
}

/* Sessão Skills */

.skills__titulo{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 32px;
}

.skills{
    display: flex;
    gap: 16px;
    justify-content: center;
    
}

.skills__HTML{
    padding: 0 0 16px 16px;
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    width: 176px;
    height: 174px;
    background-color: #f0effc;
    align-items: center;

}

.skills__HTML img{
    order: 1;
    width: 24px;
    height: 28px;
}

.skills__JS{
    padding: 0 0 16px 16px;
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    width: 176px;
    height: 174px;
    background-color: #f0effc;
    align-items: center;
}

.skills__JS img{
    order: 1;
    width: 28px;
    height: 28px;
}


.skills__react{
    padding: 0 0 16px 16px;
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    width: 176px;
    height: 174px;
    background-color: #f0effc;
    align-items: center;
}

.skills__react img{
    order: 1;
    width: 32px;
    height: 30px;
}

.skills__css{
    padding: 0 0 16px 16px;
    display: flex;
    flex-direction: column-reverse;
    gap: 8px;
    width: 176px;
    height: 174px;
    background-color: #f0effc;
    align-items: center;
}

.skills__css img{
    order: 1;
    width: 22px;
    height: 36px;
}

/* Sessão Skills */



/* Formação */

.container-formacao{
    padding-bottom: 32px;
    background-color: var(--bg-color-secundaria);
}

.formacao{
    background-color: var(--bg-color-secundaria);
}

.formacao__titulo{
    margin-top: 82px;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 32px;
}

.formacao{
    display: flex;
    justify-content: center;
    gap: 16px;
}

.formacao__univesp__logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 368px;
    height: 286px;
}

#logoUNIVESP{
    width: 50%;
    height: 58%;
}

.formação__univesp__texto{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 8px;
}

.formação__univesp__texto h4{
    font-size: 1.375rem;
}

.formacao__one__bloco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 368px;
    height: 286px;
}

.formacao__one__texto{
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px 8px;
}

.formacao__one__texto h4{
    font-size: 22px;
}

/* Experiência profissional */

.container-exp{
    display: flex;
    flex-direction: column;
    gap: 64px;
}
.exp__titulo{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 32px;
}

.exp__decodificador{
    display: flex;
    align-items: center;
    gap: 16px;
}

.exp__decodificador__texto{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.exp__decodificador__texto__botoes{
    display: flex;
    gap: 16px;
}

/* aqui são os botões gerais de repositorio e demos */

.repositorio{
    padding: 15px 15px 15px 15px;
    border: solid 1px #e276c9;
    color: white;
    background-color: #e276c9;
}

.demo{
    padding: 15px 15px 15px 15px;
    background-color: #e276c9;
    color: white;
}

.repositorio:hover{
    background-color: #D4E4FA;
    transition: 0.3s;
}

.demo:hover{
    background-color: #5595E9;
    transition: 0.3s;
}

/* ----------------------------------------------- */

.exp__numero-secreto{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
}

.exp__numero-secreto__texto{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.exp__numero-secreto__botoes{
    display: flex;
    gap: 16px;
}

#numeroSecreto{
    width: 760px;
    height: 414px;
    box-shadow: 3px 3px 5px grey;
}

.exp__alura-play{
    display: flex;
    align-items: center;
    gap: 16px;
}

.exp__alura-play__texto{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.exp__alura-play__texto__botoes{
    display: flex;
    gap: 8px;
}

#alura-play{
    width: 760px;
    height: 414px;
    box-shadow: 3px 3px 5px grey;
}

/* Formulário */

.formulario{
    margin-top: 32px;
    padding-top: 128px;
    padding-bottom: 65px;
    display: flex;
    background-color: var(--bg-color-secundaria);
    gap: 16px;
}

.formulario__texto h3{
    margin-bottom: 8px;
    font-size: 32px;
}

.formulario__texto p{
    font-weight: 500;
}

form{
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    gap: 32px;
}


.formulario__nome{
    background-color: white;
    padding: 7px 12px;
    box-shadow: 0px 1px 1px grey;
    border-radius: 5px;
}

.erro{
    color: red;
    font-size: 12px;
    display: none;
}

.formulario__nome input{
    margin-top: 4px;
}

/* valores gerais pra label, input e textarea do formulario */

label{
    display: block;
    font-size: 12px;
    color: #999;
}

.label-active{
    color: #2A7AE4;
}

input{
    width: 100%;
    font-family: var(--font);
    font-size: 16px;
    border: none;
    outline: none;
    border-radius: 3px;
}

textarea{
    font-family: var(--font);
    font-size: 16px;
    resize: none;
    width: 100%;
    height: 156px;
    padding: 8px;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 0px 1px 1px grey;   
}

/* --------------------------------------------------*/

.formulario__email{
    background-color: white;
    padding: 7px 12px;
    box-shadow: 0px 1px 1px grey;
    border-radius: 3px;
}

#assunto{
    padding: 16px 12px;
    box-shadow: 0px 1px 1px grey;
}

.formulario__email input{
    margin-top: 4px;
}

.botaoForm{
    background-color: #2A7AE4;
    padding: 1rem;
    font-family: var(--font);
    color: white;
    border: none;
    margin-top: 3%;
    cursor: pointer;
}

.botaoForm:disabled{
    background-color: #999;
    cursor: not-allowed;
}

.botaoForm:not(:disabled):hover{
    background-color: #5595E9;
    transition: 0,2s;
}

#mensagemEnviada{
    color: green;
    font-size: 16px;
    margin-top: 20px;
}

/* Rodapé */

.rodape{
    padding: 1% 0px 1% 0px;
    position: relative;
    text-align: center;
}

@media (max-width: 480px) {

    /* MENU */

    #faisca{
        width: 24px;
        height: 24px;
    }

    .menu{
        margin: 0 0 16px 0;
        align-items: center;
    }

    .menu__nav__links strong{
        font-size: 14px;
    }

    #sobreMim-media,
    #skills-media,
    #hobbies-media,
    #formacao-media,
    #projetos-media{
        display: none;
    }

    /* apresentacao */

    .apresentacao{
        flex-direction: column-reverse;
        align-items: flex-start;
        gap: 16px;
    }

    .apresentacao__foto{
        width: 98px;
        height: 98px;
    }

    .apresentacao__textos__titulo{
        font-size: 22px;
    }

    .apresentacao__textos__paragrafo{
        font-size: 14px;
        margin: 16px 0 16px 0;
    }
    
    .apresentacao__links{
        margin-bottom: 16px;
    }

    .apresentacao__links a{
        font-size: 14px;
        font-weight: 600;
    }

    .setinha{
        width: 10px;
        height: 10px;
    }

    /* SOBRE MIM */

    .bio{
        padding: 16px 16px 0 16px;
    }

    .bio img{
        margin-top: 3%;
    }
    
    .bio__text h2{
        font-size: 22px;
    }
    
    .bio__text p{
        font-size: 14px;
        margin-top: 2%;
    }

    /* SKILLS */

    .skills__titulo{
        font-size: 22px;
    }

    .skills{
        flex-wrap: wrap;
    }

    .skills__HTML,
    .skills__JS,
    .skills__react,
    .skills__css {
        width: 156px;
        height: 118px;
    }


    

    section{
        padding: 16px 16px 0 16px;
    }

    /* FORMAÇÃO */

    .container-formacao{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .formacao{
        flex-direction: column;
    }

    .formacao__titulo{
        margin-top: 20px;
        font-size: 1.375rem;
    }


    .formacao__univesp__logo,
    .formacao__one__bloco{
        padding: 50px;
        width: 100%;
        height: 50%;
    }

    .formação__univesp__texto h4,
    .formacao__one__texto h4{
        font-size: 1rem;
    }

    .formação__univesp__texto p,
    .formacao__one__texto p{
        font-size: 0.875rem;
    }


    /* EXP PROFISSIONAL */

    .exp__titulo{
        font-size: 22px;
    }

    .exp__decodificador{
        flex-direction: column;
    }

    .exp__numero-secreto{
        flex-direction: column-reverse;
    }

    .exp__alura-play{
        flex-direction: column;
    }

    #numeroSecreto,
    #decodificador,
    #alura-play{
        width: 100%;
        height: 50%;
    }

    /* CONATO */

    #telefone{
        display: none;
    }
    .formulario{
        padding-top: 32px;
        padding-bottom: 32px;
        gap: 0;
    }

    .formulario__texto h3{
        font-size: 1.375rem;
    }

    .formulario__texto p{
        font-size: 1rem;
    }

    .botaoForm{
        margin-top: 32px;
    }

    /* RODAPÉ */
    
    .rodape{
        padding: 5% 0px 5% 0px;background-color: white;
    }

}